@charset "utf-8";


/* Body Styles */
body {background-color:rgb(0,0,0);
    font-family: 'Montserrat', sans-serif;
font-family: 'Vina Sans', cursive;
}







/* Body Header Styles */

header {background-color: rgb(255,215,0);

}
h1{color:rgb(220,20,60)}
body > header > nav.horizontalNavigation li { 
 width: 20%; 
}
h2{color: rgb(220,20,60);}
h3{color: rgb(220,20,60);}





/* Horizontal Navigation Styles */
nav.horizontalNavigation li { 
 display: block; 
 float: left; 
}

nav.horizontalNavigation a { 
 display: block; 
 text-align: center; 
}
nav.horizontalNavigation a {
   background-color: rgb(255, 215, 0);
   font-family: Champagne, sans-serif;
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: rgb(220, 20, 60);
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: rgb(255, 140, 0);
}   
/* Left Column Styles */

section#leftColumn { 
 clear: left; 
 float: left; 
 width: 33%;
}
section#leftColumn p {
   color: rgb(220, 20,60);
   font-size: 0.9em;
   line-height: 1.6em;
}
body>section#leftColumn {
    background-color: rgb(255,215,0);
}



/* Right Column Styles */

 section#rightColumn { 
 float: left; 
 width: 67%; 
}
body>section#rightColumn {
   background-color: rgb(255,215,0);
}
section#rightColumn p {
    color: rgb(220,20,60);
    font-size: 0.9em;
    line-height: 1.6em;
    
}
section#rightColumn ol {
    color: rgb(220,20,60);
    font-size: 0.9em;
    line-height: 1.6em;
    
}






/* Footer Styles */

footer {
 background-color: rgb(255,215,0);    
 clear: left; 
}
footer::after { 
 clear: both; 
 content: ""; 
 display: table; 
}
footer > section#contactInfo { 
 float: left; 
 width: 34%; 
}